.biographyTable {
  max-width: 900px;
  margin: 0 auto;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #CCCACB;

  tr {

    th {
      padding: 10px;
      background-color: #ccc;
    }

    td {
      padding: 15px 10px;
      border: 1px solid #CCCACB;
    }
  }
}