section {
  padding: 5px;
  background-color: #fff;
}

sup {
  font-size: 10px;
  margin-left: 5px;
}

.weatherItem {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tempNow {
  font-size: 32px;
}

.tempFeel {
  margin-bottom: 8px;
  font-size: 9px;
}

.weatherIcon img {
  width: 100px;
}

.weatherTemp {
  font-size: 12px;
  font-weight: 700;
}
